################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/nova/.vs/Nova/v15
/nova/SCTechTreeManager/TerranTechTree-Strengthened.dot
