# Define the root logger with appender file
log4j.rootLogger=ERROR, FILE

# Define the file appender
log4j.appender.FILE=org.apache.log4j.FileAppender
log4j.appender.FILE.File=bwapi-data/logs/Nova.log

# Set the append to false, overwrite
log4j.appender.FILE.Append=false

# Define the layout for file appender http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/PatternLayout.html
log4j.appender.FILE.layout=org.apache.log4j.PatternLayout
log4j.appender.FILE.layout.ConversionPattern=%-5p (%F:%L) - %m%n

# Set category level thresholds
log4j.logger.Nova=ERROR
log4j.logger.SquadManager=ERROR
log4j.logger.SquadManager.SquadAgent=ERROR
log4j.logger.SquadManager.CombatAgent=ERROR
log4j.logger.SquadManager.CombatAgent.SCV=ERROR
log4j.logger.ProductionManager=ERROR
log4j.logger.WorkerManager=ERROR

# Messages levels
# TRACE
# DEBUG
# INFO
# WARN
# ERROR
# FATAL